body .ui-dropdown .ui-dropdown-label {
    padding-right: 2em;
    padding-block-start: 5px;
    color: #000000 !important;
    font-family: "Ubuntu Light", sans-serif !important;
}
body .ui-state-highlight{
    background-color: transparent !important;
    color: #000000 !important;
}
body .ui-paginator {
    // text-align: right !important;
    background-color: #ffffff !important;
    border: 0 !important;
    padding: 10px 0 !important;
    font-family: "Ubuntu Light", sans-serif !important;
    .ui-dropdown {
        padding-right: 5px;
        background-color:none;// #007ad9;
        .ui-dropdown-trigger {
            .pi {
                color: #848484;
            }
        }
        .ui-dropdown-label {
            background: none;
        }
    }
}
body {
    .ngx-table {
        &.block-table {
            table {
            min-height: 1667px;
         }
    }
}
}
body .ui-table .ui-table-tbody>tr>td {
    height: 150px;
    border: 0 !important;
    border-bottom: 1px solid #c8c8c8 !important;
}

body .ui-table .ui-table-thead>tr>th {
    border: 0 !important;
    border-bottom: 1px solid #c8c8c8 !important;
    font-family: "Ubuntu Light", sans-serif !important;
}

body tbody.ui-table-tbody {
    height: 300px !important;
    font-family: "Ubuntu Light", sans-serif !important;
}