.search-bar {
    justify-content: flex-end;
    // margin-top: 10px;
    float: right;
    display: flex;
    padding-right: 10px;
}

.dwn-button {
    background-color: #007ad9;
    color: #fff;
    border-color: #007ad9;
}

.download-button {
    margin-top: 10px;
    margin-right: 15px;
}

.rows {
    float: left;
    margin: 9px;
}

.display {
    float: left;
    padding-left: 7px;
    padding-top: 5px;
}

.rows-dropdown {
    margin-top: 10px;
}

.refresh {
    background-color: #007ad9;
    min-width: 2.286em;
    border: 0;
    color: white;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 3px;
    line-height: 1.5;
}

.disabled {
    display: none;
}
