.header {
    background-color: #39499c;
    height: 60px;
    font-family: "Ubuntu Light", Ubuntu, sans-serif;
}

.eng-button {
    margin-right: 10px;
    background-color: rgb(177, 214, 59);
    color: black;
    border-color: rgb(177, 214, 59);
}