.input-field {
    width: 25rem;
}

.ngx-table {
    margin-top: 80px;
}

.data-table {
    border: 2px solid #f2f2f2;
}



.reload {
    font-family: Lucida Sans Unicode;
}

.header {
    background-color: #39499c;
    height: 60px;
}

.first-header {
    // background-color: #39499c!important;
    color: #39499c !important;
    cursor: pointer;
    font-family: "Ubuntu Light", Ubuntu, sans-serif;
}

.search-bar {
    justify-content: flex-end;
    margin-top: 10px;
    float: right;
    display: flex;
}

td {
    word-break: break-all;
}

.empty-message {
    color: #39499c;
    font-style: italic;
    text-align: center;
}

.empty-section {
    min-height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eng-button {
    margin-right: 10px;
    background-color: rgb(177, 214, 59);
    color: black;
    border-color: rgb(177, 214, 59);
}

.dwn-button {
    background-color: rgb(177, 214, 59);
    color: black;
    border-color: rgb(177, 214, 59);
}

.mat-form-field {
    display: block;
}

.download-button {
    margin-top: 10px;
    margin-right: 15px;
}

.loader {
    margin-left: 47%;
    top: 280px;
    z-index: 10;
}

.nodataloader {
    margin-top: 160px;
}

.withdataloader {
    margin-top: 0px;
}

.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr:hover {
    background-color: #f9f9f9 !important;
}

tr,
th {
    background-color: white !important;
}

.error-image {
    height: 75%;
}

.error-message {
    color: #c12e2a;
    width: 50%;
}

.search-input {
    padding-top: 7px;
}

.error-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-width {
    width: 15%;
}

.button {
    margin-right: 10;
}
