<app-header (changeLang)="changeLang($event)"></app-header>
<div class="container ngx-table block-table">
    <mat-spinner [diameter]="50" class="loader" *ngIf="hasData"></mat-spinner>
    <p-table [value]="rowsData" stateStorage="local" [resizableColumns]="true" [rows]="rowsPerPage"
        [totalRecords]="totalRecords" [responsive]="true">
        <ng-template pTemplate="header" class="abcd">
            <tr>
                <th [pSortableColumn]="'ts'" class="first-header fixed-width">{{'Date'|translate}}
                    <p-sortIcon [field]="'ts'"></p-sortIcon>
                </th>
                <th class="first-header fixed-width">{{'Source'|translate}}</th>
                <th class="first-header fixed-width">{{'Destination'|translate}}</th>
                <th class="first-header">{{'Information'|translate}}</th>
                <th class="first-header fixed-width">{{'Rule'|translate}}</th>
                <th class="first-header" (click)="convert()">{{lastColumnTitle |translate}}<span
                        class=reload>&#x21bb;</span>
                </th>
            </tr>
            <tr>
                <th>
                    <mat-form-field>
                        <input matInput placeholder="From" type="date" [(ngModel)]="start_date"
                            (change)="applyDateFilter()" [readonly]="loadingState">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="To" type="date" [(ngModel)]="end_date" (change)="applyDateFilter()"
                            [readonly]="loadingState">
                    </mat-form-field>
                </th>
                <th>
                    <mat-form-field>
                        <input matInput placeholder="source filter" type="text" [(ngModel)]="source_filter_text"
                            (keyup)="sourceFilter()" [readonly]="loadingState">
                    </mat-form-field>
                </th>
                <th>
                    <mat-form-field>
                        <input matInput placeholder="dest filter" type="text" [(ngModel)]="dest_filter_text"
                            (keyup)="destFilter()" [readonly]="loadingState">
                    </mat-form-field>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row style="height: 500px;">
            <tr>
                <td>{{row.ts*1000 | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                <td>{{row.s}}</td>
                <td>{{row.d}}</td>
                <td>{{(row.o.length > 50)?(row.o | slice:0:50)+'...':(row.o)}}</td>
                <td>{{row.rule}}</td>
                <td>{{(row.hex.length > 50)?(row.hex | slice:0:50)+'...':(row.hex)}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr *ngIf="loadingState">
                <td colspan="6" class="empty-message">
                    <div class="loading-message"></div>
                </td>
            </tr>
            <tr *ngIf="!hasError && !hasData && !haveError">
                <td colspan="6" class="empty-message">
                    <div class="empty-section">Everything is fine and no data match the request<img class="nodata-image"
                            style="max-width: 50px;" src="../assets/images/download.png"></div>
                </td>
            </tr>
            <tr *ngIf="hasError">
                <td colspan="6" class="empty-message">
                    <div class="error-div">
                        <h2 class="error-message">The cloud system is temporarily unavailable. Please try again later
                        </h2>
                        <img class="error-image" src="../assets/images/network_error.jpg">
                    </div>
                </td>
            </tr>
            <tr *ngIf="haveError">
                <td colspan="6" class="empty-message">
                    <div class="error-div">
                        <h2 class="error-message">{{errorMessage}}</h2>
                        <img class="error-image" src="../assets/images/404-error-not-found11.png">
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div [ngClass]="{'nodataloader' : hasData == true ? 'withdataloader' : '' }">
        <app-paginator [totalRecords]="totalRecords" [rows]="rowsPerPage" [rowsPerPageOptions]="[10,20,30]"
            (onPageChange)="paginate($event)" (form)="form" (filterData)="filter($event)"
            (downloadCSVfile)="downloadCSV()" (refreshOnclick)="reload()" [form]="form" [text]="text"
            [loadingState]="loadingState"></app-paginator>
    </div>
</div>