body .ui-dropdown .ui-dropdown-label {
    padding-right: 2em;
    padding-block-start: 5px;
    color: #ffffff !important;
}
body .ui-paginator {
    // text-align: right !important;
    background-color: #ffffff !important;
    border: 0 !important;
    padding: 10px 0 !important;
    .ui-dropdown {
        padding-right: 5px;
        background-color: #007ad9;
        .ui-dropdown-trigger {
            .pi{
                color: #848484;
            }
        }
        .ui-dropdown-label {
            background: none;

        }
    }
}
body .ui-table .ui-table-tbody > tr > td {
    height: 150px;
    border: 0 !important;
    border-bottom: 1px solid #c8c8c8 !important;
}
body .ui-table .ui-table-thead > tr > th {
    border: 0 !important;
    border-bottom: 1px solid #c8c8c8 !important;
}
body tbody.ui-table-tbody {
    height: 300px !important;
}
