/* You can add global styles to this file, and also import other style files */

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.scss";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "./assets/shared/prime-ng.scss";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Ubuntu Light", sans-serif !important;
}

body .ui-table .ui-sortable-column .ui-sortable-column-icon {
    color: #ffffff !important;
}

body .ui-table .ui-table-tbody>tr>td {
    border-color: #999 !important;
}

body .ui-table .ui-table-thead>tr>th {
    border-color: #999 !important;
}


body .ui-dropdown {
    float: left;
}

body .ui-dropdown.ui-state-focus {
    border-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0 0.2em #ffffff;
    -moz-box-shadow: 0 0 0 0.2em #ffffff;
    box-shadow: 0 0 0 0.2em #ffffff!important;
} 

body {
    font-family: monospace;
    font-size: 20px;
}

body h2 {
    font-size: 30px;
    font-weight: bold;
}

body h4 {
    font-size: 16px;
    font-weight: bold;
}